<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266945569125-iso0toqu2ote41kf9qcvsmdhem1igg29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266945569125-iso0toqu2ote41kf9qcvsmdhem1igg29</string>
	<key>API_KEY</key>
	<string>AIzaSyD24-NylPC7dFXbE51T4cnvV2GnksWPm1w</string>
	<key>GCM_SENDER_ID</key>
	<string>266945569125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitapp</string>
	<key>PROJECT_ID</key>
	<string>fitapp-ed34a</string>
	<key>STORAGE_BUCKET</key>
	<string>fitapp-ed34a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266945569125:ios:6c47f1d4ee5aef5501c18c</string>
</dict>
</plist>